@mixin page-title ($kerning, $color) {
  letter-spacing: $kerning;
  color: $color;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
}

.container .jumbotron {
    @include border-top-radius(0);
    @include border-bottom-radius(50px);
}

//animating the msg in jumbotron
.jumbotron >h1 {
    position: relative;
    @include animation(move 2s ease-out 1s forwards); 
}

@keyframes move {
    0% {left: 0;}
    20% {left: 100px;}
    40% {left: -100px;}
    60% {left: 50px}
    80% {left: -50px}
    100% {left: 0;}
}

.page-title {
  @include page-title(5px, $brand-primary);
}


